@using Blue.Models
@model Blue.Models.NetworkResources

@{
    string Map(PeeringDirection direction)
    {
        return direction switch
        {
            PeeringDirection.Forward => "-->",
            PeeringDirection.Backward => "<--",
            PeeringDirection.BothWays => "<->",
            PeeringDirection.None => "N/A",
            PeeringDirection.Unknown => "???"
        };
    }
}

<ul class="no-bullets">
    @foreach (var (id, vnet) in Model.Vnets)
    {
        <li>
            @id
            @vnet.Id.ResourceGroupName/<b>@vnet.Name</b>: @string.Join(", ", vnet.AddressPrefixes)
            @if (vnet.Peerings.Count > 0)
            {
                <ul class="no-bullets">
                    @foreach (var peering in vnet.Peerings)
                    {
                        <li>
                            @peering.RemoteVnetId.Name:
                            <ul class="no-bullets">
                                <li>id: @peering.Id</li>
                                <li>remoteId: @peering.RemotePeeringId</li>
                                <li>Traffic: @Map(peering.ForwardedTraffic)</li>
                                <li>VnetAccess: @Map(peering.VnetAccess)</li>
                                <li>GW traffic: @Map(peering.GatewayTraffic)</li>
                            </ul>
                        </li>
                    }
                </ul>
            }

        </li>
    }
</ul>
